@model Exploreh.Model.PerfilTela.PerfilTelaModel

<style>
    .input-fields {
        margin: 10px;
    }
</style>


@{
    ViewBag.Title = "Edição Permissão de Acesso";

    List<SelectListItem> listTela = new List<SelectListItem>();

    foreach (var item in Model.Tela)
    {
        listTela.Add(new SelectListItem
        {
            Text = item.Nome,
            Value = Convert.ToString(item.Id)
        });
    }

    List<SelectListItem> listPerfil = new List<SelectListItem>();

    foreach (var item in Model.Perfil)
    {
        listPerfil.Add(new SelectListItem
        {
            Text = item.Nome,
            Value = Convert.ToString(item.Id)
        });
    }

}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        Edição de Permissão de Acesso
                    </div>
                    <div class="panel-body">
                        <div style=""></div>
                        @Html.HiddenFor(model=>model.Id)

                        <div class="input-group input-fields">
                            <span class="input-group-addon">Perfil</span>
                            @Html.DropDownListFor(model => model.Perfil_Id, listPerfil, "-- Selecione --", new { @class = "form-control" })
                        </div>
                        
                        <div class="input-group input-fields">
                            <span class="input-group-addon">Tela</span>
                            @Html.DropDownListFor(model => model.Tela_Id, listTela, "-- Selecione --", new { @class = "form-control" })
                        </div>
                        <div class="input-fields">
                            <button type="submit" class="btn w-xs btn-primary"> <i class="fa fa-check"></i> Salvar </button>
                        </div>
                    </div>

                    <div class="input-fields">
                        <button onclick="location.href='@Url.Action("Lista", "Perfil")'" class="btn w-xs btn-danger"> <i class="glyphicon glyphicon-chevron-left"></i> Voltar </button>
                    </div>


                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
