@model Exploreh.Model.Cidade.CidadeModel


<style>
    .input-fields {
        margin: 10px;
    }
</style>

@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar Cidade</h2>

@using (Html.BeginForm("CadastrarCidade","Cidade")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
        <div class="content animate-panel">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hpanel">
                        <div class="panel-heading">
                            Cadastrar nova Cidade
                        </div>
                        <div class="panel-body">
                            <div class="input-group input-fields camposEstr">
                                <span class="input-group-addon">País</span>
                                <select id="IdPais" name="IdPais" class="form-control pais"></select>
                            </div>                           
                            <div class="input-group input-fields">
                                <span class="input-group-addon">Estado</span>
                                <select id="Estado" name="IdUnidadeFederacao" type="text" maxlength="2" class="form-control estado" placeholder="Informe a sigla do Estado">
                                    <option value="0">--- Selecione o Estado ---</option>
                                </select>
                            </div>
                            <div class="input-group input-fields">
                                <span class="input-group-addon">Cidade</span>
                                <input id="DcrNome" name="DcrNome" type="text" class="form-control" placeholder="Informe o nome da Cidade">
                            </div>

                            <div class="input-fields">
                                <button type="submit" class="btn w-xs btn-primary"> <i class="fa fa-check"></i> Salvar </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="input-fields">
            <button onclick="location.href='@Url.Action("Lista", "Cidade")'" class="btn w-xs btn-danger"> <i class="glyphicon glyphicon-chevron-left"></i> Voltar </button>
        </div>
    }


@section Styles {
    @Styles.Render("~/bundles/bootstrapCheckbox/css")
    @Styles.Render("~/bundles/sweetAlert/css")
}

@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/homer/js")

<script type="text/javascript">
    $(document).ready(function () {
        carregaPais();


        $('.pais').change(function () {
            carregaEstados($(this).val())
        });


    });


    function carregaPais() {
        var comboPais = $('.pais');

        $.ajax({
            url: '@Url.Action("GetPais","Cliente")',
            type: 'POST',
            success: function (paises) {
                comboPais.empty();
                var $select = comboPais;
                $select.append('<option value="0">--- Selecione o Pais ---</option>');
                $.each(paises, function (i, pais) {
                    $select.append(
                        $('<option/>')
                        .attr('value', pais.IdPais)
                        .text(pais.DcrNome)
                    );
                });
            },
            error: function (xhr) { }
        });
    }

      function carregaEstados(idPais) {
          var comboEstado = $('.estado');

        $.ajax({
            url: '@Url.Action("GetEstado","Cliente")',
            type: 'POST',
            data: { idPais: idPais },
            success: function (estados) {
                comboEstado.empty();
                var $select = comboEstado;
                $.each(estados, function (i, estado) {
                    $select.append(
                        $('<option/>')
                        .attr('value', estado.IdUnidadeFederacao)
                            .text(estado.DcrNome + ' - ' + estado.DcrSigla )
                    );
                });
                if (idEstado != null) {
                    comboEstado.val(idEstado);
                    carregaCidades(comboEstado, idCidade);
                }
            },
            error: function (xhr) { }
          });

    }
</script>
