@model IEnumerable<Exploreh.Model.Cidade.CidadeModel>


<style>
    .input-fields {
        margin: 10px;
    }
</style>

@{
    ViewBag.Title = "Lista de Cidades";
}

@section Styles {
    @Styles.Render("~/bundles/toastr/css")
    @Styles.Render("~/bundles/sweetAlert/css")

}

<div class="panel-body list">
    <h2>Lista de Cidades Cadastradas</h2>

    <button onclick="location.href='@Url.Action("Cadastrar", "Cidade")'" class="btn w-xs btn-primary">Novo <i class="glyphicon glyphicon-plus"></i></button>

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="hpanel">
                                    <div class="panel-body">
                                        <div class="input-group" style="width:300px; position:relative; display:-webkit-box">
                                            <select id="Pais" class="form-control pais"></select>
                                            <select id="Estado" class="form-control estado">
                                                <option value="0">--- Selecione o Estado ---</option>
                                            </select>
                                            <button class="btn btn-primary filtrar">Filtrar <i class="glyphicon glyphicon-filter"></i></button>
                                        </div>

                                        <div style="display:none" id="buscarCidade">
                                            <input id="DcrNome" name="DcrNome" class="form-control cidade col-lg-8" placeholder="Buscar a cidade desejada..." />
                                            <button class="btn btn-default search"><i class="glyphicon glyphicon-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        Todos os estados Cadastrados
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive project-list">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Nome
                                        </th>
                                        <th>
                                            Sigla
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody id="lista"></tbody>

                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@* inicio modal*@
<div class="modal fade" id="myModalDetalhes" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">Detalhes do Perfil</h4>
                <small class="font-bold">Todos os detalhes cadastrados</small>
            </div>
            <div class="modal-body">
                <p>

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <input type="text" id="hdnId" hidden="hidden"/>
            <div class="modal-header">
                <h4 class="modal-title">Deletar Cidade</h4>
                <small class="font-bold"></small>
            </div>
            <div class="modal-body">
                <p>
                    Deseja realmente excluir esse registro?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="deleteModal">Deletar</button>
            </div>
        </div>
    </div>
</div>
@* fim modal *@

@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/jqueryui/js")
@Scripts.Render("~/bundles/homer/js")
@Scripts.Render("~/bundles/toastr/js")
@Scripts.Render("~/bundles/sweetAlert/js")

<script src="~/Scripts/PerfilAjaxCall.js"></script>
<script type="text/javascript">

    $(document).ready(function() {

        notificar();

        carregaPais();

        $('#deleteModal').click(function() {
            var url = '@Url.Action("Delete", "Cidade")';

            $.ajax({
                url: url,
                type: 'POST',
                data: { IdCidade: $('#hdnId').val()},
                success: function (data) {
                    setTimeout(function() {
                            swal({
                                title: "Good job!",
                                text: "Ação concluida com sucesso!",
                                type: "success"
                            },function(isConfirm) {
                                if (isConfirm) {
                                    location.reload();
                                } else {
                                    location.reload();
                                }
                            });
                        },
                        1000);
                },
                error: function (xhr) { }
            });
        });
    });

    function notificar() {

        var notificacao = @(ViewBag.Notificacao.ToString().ToLower());
        
        if (notificacao === true) {

            setTimeout(function () {
                swal({
                    title: "Good job!",
                    text: "Ação concluida com sucesso!",
                    type: "success"
                });
            },
                1000);
        }
    }


    $('.pais').change(function () {
        carregaEstados($(this).val());
    });

    $('.filtrar').click(function () {
          $.ajax({
            url: '@Url.Action("ListaFiltro", "Cidade")',
            type: 'POST',
            data: { estado: $('.estado').val() },
            success: function (cidades) {
                var $select = $('#lista');
                $select.html('');

                if(cidades != null)
                $('#buscarCidade').show();

                $.each(cidades, function (i, cidade) {
                    $select.append(
                        $(  '<tr>' +
                            '<td>'+
                            cidade.DcrNome +
                            '</td>' +
                            '<td>' +
                            cidade.DcrSiglaUf +
                            '</td>' +
                            '<td>' +
                            '<button type="button"' +
                            'class="btn btn-xs btn-primary"' +
                            'onclick=location.href="@Url.Action("Editar","Cidade")' + "/"+ cidade.IdCidade + '">' +
                            'Editar' +
                            '</button>' +
                            @*|
                                                        <button type="button"
                                                                class="btn btn-xs btn-info"
                                                                data-toggle="modal"
                                                                data-target="#myModalDetalhes"
                                                                onclick="Detalhes('@item.IdUnidadeFederacao', '@Url.Action("Detalhes", "Perfil")');">
                                                            Detalhes
                                                        </button>*@

                            '|' +
                            '<button type="button"' +
                            'class="btn btn-xs btn-danger"' +
                            'data-toggle="modal"' +
                            'data-target="#myModalDelete"' +
                            'onclick="HdnValue(' + cidade.IdCidade + ')">' +
                            'Excluir' +
                            '</button>' +
                          '</td>'+
                          '</tr>'+
                          '</tbody>')
                    );
                });
            },
            error: function (xhr) { }
        });
    });


     $('.search').click(function () {
          $.ajax({
            url: '@Url.Action("ListaFiltroNomeCidade", "Cidade")',
            type: 'POST',
            data: { estado: $('#Estado').val(), cidade: $('#DcrNome').val() },
            success: function (cidades) {
                var $select = $('#lista');
                $select.html('');

                if(cidades != null)
                $('#buscarCidade').show();

                $.each(cidades, function (i, cidade) {

                    $select.append(
                         $(  '<tr>' +
                            '<td>'+
                            cidade.DcrNome +
                            '</td>' +
                            '<td>' +
                            cidade.DcrSiglaUf +
                            '</td>' +
                            '<td>' +
                            '<button type="button"' +
                            'class="btn btn-xs btn-primary"' +
                            'onclick=location.href="@Url.Action("Editar","Cidade")' + "/"+ cidade.IdCidade + '">' +
                            'Editar' +
                            '</button>' +
                                                    @*|
                                                        <button type="button"
                                                                class="btn btn-xs btn-info"
                                                                data-toggle="modal"
                                                                data-target="#myModalDetalhes"
                                                                onclick="Detalhes('@item.IdUnidadeFederacao', '@Url.Action("Detalhes", "Perfil")');">
                                                            Detalhes
                                                        </button>
                                                        |
                                                        <button type="button"
                                                                class="btn btn-xs btn-danger"
                                                                data-toggle="modal"
                                                                data-target="#myModalDelete"
                                                                onclick="Deletar('@item.IdUnidadeFederacao', '@Url.Action("Excluir", "Perfil")');">
                                                            Excluir
                                                        </button>*@
                          '</td>'+
                          '</tr>'+
                          '</tbody>')
                    );
                });
            },
            error: function (xhr) { }
        });
    });

    function carregaPais() {
        var comboPais = $('.pais');

        $.ajax({
            url: '@Url.Action("GetPais","Cliente")',
            type: 'POST',
            success: function (paises) {
                comboPais.empty();
                var $select = comboPais;
                $select.append('<option value="0">--- Selecione o Pais ---</option>');
                $.each(paises, function (i, pais) {
                    $select.append(
                        $('<option/>')
                        .attr('value', pais.IdPais)
                        .text(pais.DcrNome)
                    );
                });
            },
            error: function (xhr) { }
        });
    }

      function carregaEstados(idPais) {
          var comboEstado = $('.estado');

        $.ajax({
            url: '@Url.Action("GetEstado","Cliente")',
            type: 'POST',
            data: { idPais: idPais },
            success: function (estados) {
                comboEstado.empty();
                var $select = comboEstado;
                $.each(estados, function (i, estado) {
                    $select.append(
                        $('<option/>')
                        .attr('value', estado.IdUnidadeFederacao)
                            .text(estado.DcrNome + ' - ' + estado.DcrSigla )
                    );
                });
                //if (idEstado != null) {
                //    comboEstado.val(idEstado);
                //    carregaCidades(comboEstado, idCidade);
                //}
            },
            error: function (xhr) { }
          });

    }

    function HdnValue(value) {
        $('#hdnId').val(value);
    }
</script>