@using System.Web.Mvc.Html
@model Exploreh.Model.Cliente.ClienteModel

<style>
    .input-fields {
        margin: 10px;
    }
</style>

@{
    ViewBag.Title = "Cadastrar novo Cliente";

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">

                        Cliente Dados Principais
                    </div>
                    <div class="panel-body">

                        <div class="input-group input-fields">
                            <span class="input-group-addon">Nome</span>
                            <input id="Nome" type="text" class="form-control" name="Nome" placeholder="Nome do usuário">
                        </div>
                        <div class="input-group input-fields">
                            <div class="radio radio-info radio-inline">
                                <input class="radio" type="radio" id="rpf" value="F" name="TipoPessoa" checked="">
                                <label for="rpf"> Pessoa física </label>
                            </div>
                            <div class="radio radio-info radio-inline">
                                <input class="radio" type="radio" id="rpj" value="J" name="TipoPessoa">
                                <label for="rpj"> Pessoa jurídica </label>
                            </div>
                            <div class="radio radio-info radio-inline">
                                <input class="radio" type="radio" id="restr" value="E" name="TipoPessoa">
                                <label for="restr"> Estrangeiro </label>
                            </div>
                        </div>

                        <div class="input-group input-fields">
                            <span id="DocLabel" class="input-group-addon">Documento</span>
                            <input type="text" class="form-control" name="Documento" placeholder="Número do documento">
                        </div>

                        <div class="input-group input-fields camposPF">
                            <span class="input-group-addon">Sexo</span>
                            <select class="form-control m-b" id="sexo" name="Sexo">
                                <option value="M">Masculino</option>
                                <option value="F">Feminino</option>
                                <option value="N">Não declarado</option>
                            </select>
                        </div>
                        <div class="input-group input-fields camposPF" >
                            <span class="input-group-addon">Data de nascimento</span>
                            <input id="DataNascimento" type="text" class="form-control" name="DataNascimento" placeholder="Data de nascimento">
                        </div>
                        <div class="input-group input-fields camposPF">
                            <span class="input-group-addon">Ocupação</span>
                            <input id="Ocupacao" type="text" class="form-control" name="Ocupacao" placeholder="Ocupação">
                        </div>
                        <div class="input-group input-fields">
                            <span class="input-group-addon">E-mail</span>
                            <input id="Email" type="text" class="form-control" name="Email" placeholder="E-mail">
                        </div>
                        <div class="input-group input-fields">
                            <span class="input-group-addon">Home page</span>
                            <input id="HomePage" type="text" class="form-control" name="HomePage" placeholder="Home page">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">

                        Cliente Telefones
                    </div>
                    <div class="panel-body">
                        <div class="input-group input-fields">
                            <span class="input-group-addon">DDD</span>
                            <input id="ClienteTelefone[0]_Ddd" type="text" class="form-control" name="ClienteTelefone[0].Ddd" placeholder="DDD">
                        </div>
                        <div class="input-group input-fields">
                            <span class="input-group-addon">Telefone</span>
                            <input id="ClienteTelefone[0]_Telefone" type="text" class="form-control" name="ClienteTelefone[0].Telefone" placeholder="Telefone">
                        </div>
                        <div class="input-group input-fields">
                            <span class="input-group-addon">DDD</span>
                            <input id="ClienteTelefone[1]_Ddd" type="text" class="form-control" name="ClienteTelefone[1].Ddd" placeholder="DDD">
                        </div>
                        <div class="input-group input-fields">
                            <span class="input-group-addon">Telefone</span>
                            <input id="ClienteTelefone[1]_Telefone" type="text" class="form-control" name="ClienteTelefone[1].Telefone" placeholder="Telefone">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">

                        Cliente Endereço
                    </div>
                    <div class="panel-body">
                        <div class="input-group input-fields camposPfPj">
                            <span class="input-group-addon">CEP</span>
                            <input id="ClienteEndereco[0]_CEP" type="text" class="form-control cep" name="ClienteEndereco[0].CEP" placeholder="Digite o CEP para carregar os demais campos">
                        </div>
                        <div class="input-group input-fields">
                            <span class="input-group-addon labelLogra">Logradouro</span>
                            <input id="ClienteEndereco[0]_Logradouro" type="text" class="form-control logradouro" name="ClienteEndereco[0].Logradouro" placeholder="Lograduro">
                        </div>
                        <div class="input-group input-fields camposPfPj">
                            <span class="input-group-addon">Número</span>
                            <input id="ClienteEndereco[0]_Numero" type="text" class="form-control numero" name="ClienteEndereco[0].Numero" placeholder="Número">
                        </div>
                        <div class="input-group input-fields">
                            <span class="input-group-addon labelComp">Complemento</span>
                            <input id="ClienteEndereco[0]_Complemento" type="text" class="form-control complemento" name="ClienteEndereco[0].Complemento" placeholder="Complemento">
                        </div>
                        <div class="input-group input-fields">
                            <span class="input-group-addon labelBairro">Bairro</span>
                            <input id="ClienteEndereco[0]_Bairro" type="text" class="form-control bairro" name="ClienteEndereco[0].Bairro" placeholder="Bairro">
                        </div>
                        <div class="input-group input-fields camposEstr">
                            <span class="input-group-addon">País</span>
                            <select id="ClienteEndereco[0]_Pais" class="form-control pais"></select>
                            @*<input id="ClienteEndereco[0]_Estado" type="text"  placeholder="Estado">*@
                        </div>
                        <div class="input-group input-fields">
                            <span class="input-group-addon">Estado</span>
                            <select id="ClienteEndereco[0]_Estado" class="form-control estado"></select>
                            @*<input id="ClienteEndereco[0]_Estado" type="text"  placeholder="Estado">*@
                        </div>
                        <div class="input-group input-fields">
                            <span class="input-group-addon">Cidade</span>
                            <select id="ClienteEndereco[0]_IdCidade" name="ClienteEndereco[0].IdCidade"  class="form-control cidade"></select>
                            @*<input id="ClienteEndereco[0]_Cidade" type="text" class="form-control cidade" placeholder="Cidade">*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">

                        Cliente Contatos
                    </div>
                    <div class="panel-body">
                        <div id="ContatosParent">
                            <div id="ContatosCampos">
                                <div class="input-group input-fields">
                                    <span class="input-group-addon">Nome</span>
                                    <input id="ContatoNome" type="text" class="form-control" name="ContatoNome" placeholder="Nome">
                                </div>
                                <div class="input-group input-fields">
                                    <span class="input-group-addon">Email</span>
                                    <input id="ContatoEmail" type="text" class="form-control" name="ContatoEmail" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <a style="margin: 10px 0;" href="javascript:addRow();">+1 Contato</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="input-fields">
        <button type="submit" class="btn w-xs btn-primary"> <i class="fa fa-check"></i> Salvar </button>
    </div>
    <div class="input-fields">
        <button onclick="location.href='@Url.Action("Lista", "Cliente")'" class="btn w-xs btn-danger"> <i class="glyphicon glyphicon-chevron-left"></i> Voltar </button>
    </div>

}

@section Styles {
    @Styles.Render("~/bundles/bootstrapCheckbox/css")
}


@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/homer/js")

<script src="~/Scripts/BuscaCep.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        carregaPais();
        
        $('.estado').change(function () {
            carregaCidades($(this));
        });

        $('.pais').change(function () {
            carregaEstados($(this).val());
        });

        $("#Cidade").change(function (evt) {
            $('#CidadeId').val($(this).val());

        });

        $('.cep').focusout(function () {
            var result = BuscaCep($(this).val());

            if (result.DcrTipoLogradouro != null) {
                $('.logradouro').val(result.DcrTipoLogradouro + ' ' + result.DcrNome);
            }
            $('.bairro').val(result.Bairro.DcrNome);
            $('.pais').val(result.Pais.IdPais)

            carregaEstados(result.Pais.IdPais, result.UnidadeFederacao.IdUnidadeFederacao, result.Cidade.IdCidade);
            alert('Pais' + result.Pais.IdPais);
            alert('Estado' + result.UnidadeFederacao.IdUnidadeFederacao);
            alert('Cidade' + result.Cidade.IdCidade);

        });

    });

    function carregaCidades(estado,id) {
       
        var comboEstado = estado;
        var comboCidade = $('.cidade');

        if (comboEstado != "-1") {

            $.ajax({
                url: '@Url.Action("GetCidade","Cliente")',
                type: 'POST',
                data: { id: comboEstado.val() },
                success: function (cidades) {
                    comboCidade.empty();
                    var $select = comboCidade;
                    $select.append('<option value="0">--- Selecione a Cidade ---</option>');
                    $.each(cidades, function (i, cidade) {
                        $select.append(
                            $('<option/>')
                            .attr('value', cidade.IdCidade)
                            .text(cidade.DcrNome)
                        );
                    });
                    if (id != null) {
                        comboCidade.val(id);
                    }
                },
                error: function (xhr) { }
            });
        }


    }

    function carregaEstados(idPais,idEstado,idCidade) {
        var comboEstado = $('.estado');
            $.ajax({
                url: '@Url.Action("GetEstado","Cliente")',
                type: 'POST',
                data: { idPais: idPais },
                success: function (estados) {
                    comboEstado.empty();
                    var $select = comboEstado;
                    $select.append('<option value="0">--- Selecione o Estado ---</option>');
                    $.each(estados, function (i, estado) {
                        $select.append(
                            $('<option/>')
                            .attr('value', estado.IdUnidadeFederacao)
                            .text(estado.DcrSigla)
                        );
                    });
                    if (idEstado != null) {
                        comboEstado.val(idEstado);
                        carregaCidades(comboEstado, idCidade);
                    }
                },
                error: function (xhr) { }
            });
    }

    function carregaPais() {
        var comboPais = $('.pais');

        $.ajax({
            url: '@Url.Action("GetPais","Cliente")',
            type: 'POST',
            //data: { id: comboEstado },
            success: function (paises) {
                comboPais.empty();
                var $select = comboPais;
                $select.append('<option value="0">--- Selecione o Pais ---</option>');
                $.each(paises, function (i, pais) {
                    $select.append(
                        $('<option/>')
                        .attr('value', pais.IdPais)
                        .text(pais.DcrNome)
                    );
                });
                //if (id != null) {
                //    comboEstado.val(id);
                //}
            },
            error: function (xhr) { }
        });
    }

    // <![CDATA[
    function addRow() {
        //copy the table row and clear the value of the input, then append the row to the end of the table
        $("#ContatosCampos").clone().find("input").each(function () {
            $(this).val('');
        }).end().appendTo("#ContatosParent");
    }
    $(".radio input[type='radio']").on('click', function () {
        if ($("#rpf").is(":checked")) {
            $("#DocLabel").html("CPF");
            $(".labelLogra").html("Logradouro");
            $(".logradouro").attr("placeholder", "Logradouro").blur();
            $(".labelComp").html("Complemento");
            $(".complemento").attr("placeholder", "Complemento").blur();
            $(".labelBairro").html("Bairro");
            $(".bairro").attr("placeholder", "Bairro").blur();
            $(".camposPF").show();
            $(".camposPfPj").show();
        } else if ($("#rpj").is(":checked")) {
            $("#DocLabel").html("CNPJ");
            $(".labelLogra").html("Logradouro");
            $(".logradouro").attr("placeholder", "Logradouro").blur();
            $(".labelComp").html("Complemento");
            $(".complemento").attr("placeholder", "Complemento").blur();
            $(".labelBairro").html("Bairro");
            $(".bairro").attr("placeholder", "Bairro").blur();
            $("#sexo").val('N');
            $(".camposPF").hide();
            $(".camposPfPj").show();
        } else if ($("#restr").is(":checked")) {
            $("#DocLabel").html("Passaporte");
            $(".logradouro").attr("placeholder", "Linha 1").blur();
            $(".labelLogra").html("Linha 1");
            $(".labelComp").html("Linha 2");
            $(".complemento").attr("placeholder", "Linha 2").blur();
            $(".labelBairro").html("Linha 3");
            $(".bairro").attr("placeholder", "Linha 3").blur();
            $(".camposPfPj").hide();
            }
    });
</script>


