@using System.Web.Mvc.Html
@model Exploreh.Model.Cliente.ClienteModel

<style>
    .input-fields {
        margin: 10px;
    }
</style>

@{
    ViewBag.Title = "Cadastrar novo Cliente";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-warning">
                    <strong>Atenção!</strong> Os campos destacados com o asterísco (<b style="color: red">*</b>) são campos obrigatórios.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">

                        Cliente Dados Principais
                    </div>
                    <div class="panel-body">
                        <div class="input-group input-fields">
                            <div class="radio radio-info radio-inline">
                                <input class="radio" type="radio" id="rpf" value="F" name="TipoPessoa" checked="">
                                <label for="rpf"> Pessoa física </label>
                            </div>
                            <div class="radio radio-info radio-inline">
                                <input class="radio" type="radio" id="rpj" value="J" name="TipoPessoa">
                                <label for="rpj"> Pessoa jurídica </label>
                            </div>
                            <div class="radio radio-info radio-inline">
                                <input class="radio" type="radio" id="restr" value="E" name="TipoPessoa">
                                <label for="restr"> Estrangeiro </label>
                            </div>
                        </div>
                        <div class="input-group input-fields">
                            <span class="input-group-addon lblNome">Nome <span style="color: red">*</span> </span>
                            <input id="Nome" type="text" class="form-control txtNome" name="Nome" placeholder="Nome do usuário">
                            <div style="color: red;">
                                <b> @Html.ValidationMessageFor(item => item.Nome)</b>
                            </div>
                        </div>
                        <div class="input-group input-fields">
                            <span id="DocLabel" class="input-group-addon">Documento</span>
                            <input type="text" class="form-control documentoPf docs" name="DocumentoPf" placeholder="Número do documento" data-mask="000.000.000-00">
                            <input type="text" class="form-control documentoPj docs" name="DocumentoPj" placeholder="Número do documento" data-mask="00.000.000/0000-00">
                            <input type="text" class="form-control documentoEst docs" name="DocumentoEst" placeholder="Número do documento" maxlength="150">
                        </div>

                        <div class="input-group input-fields camposPF">
                            <span class="input-group-addon">Sexo</span>
                            <select class="form-control m-b" id="sexo" name="Sexo">
                                <option value="M">Masculino</option>
                                <option value="F">Feminino</option>
                                <option value="N">Não declarado</option>
                            </select>
                        </div>
                        <div class="input-group input-fields camposPF">
                            <span class="input-group-addon">Data de nascimento</span>
                            <input id="DataNascimento" type="text" class="form-control" name="DataNascimento" placeholder="Data de nascimento" data-mask="00/00/0000" />
                        </div>
                        <div class="input-group input-fields camposPF">
                            <span class="input-group-addon">Ocupação</span>
                            <input id="Ocupacao" type="text" class="form-control" name="Ocupacao" placeholder="Ocupação">
                        </div>
                        <div class="input-group input-fields">
                            <span class="input-group-addon">E-mail <span style="color: red">*</span></span>
                            <input id="Email" type="text" class="form-control" name="Email" placeholder="E-mail">
                            <div style="color: red">
                                <b> @Html.ValidationMessageFor(item => item.Email)</b>
                            </div>
                        </div>
                        <div class="input-group input-fields">
                            <span class="input-group-addon">Observações</span>
                            <input id="HomePage" type="text" class="form-control" name="HomePage" placeholder="Escreva aqui alguma observação sobre o cliente.">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        Cliente Telefones
                    </div>
                    <div class="panel-body">

                        <div class="input-group">
                            <div class="alert alert-warning">
                                <strong><b style="color: red">Atenção!</b></strong> É obrigatório o preenchimento de ao menos um <b style="color: red"> DDD + Telefone</b> abaixo.
                            </div>
                        </div>
                        <div class="input-group input-fields">
                            <span class="input-group-addon">DDD</span>
                            <input id="ClienteTelefone[0]_Ddd" type="text" class="form-control ddd" name="ClienteTelefone[0].Ddd" placeholder="DDD">
                            <input id="ClienteTelefone[0]_Ddd" type="text" class="form-control dddEstrangeiro" name="ClienteTelefone[0].DddEstrangeiro" placeholder="DDD">
                        </div>
                        <div class="input-group input-fields">
                            <span class="input-group-addon">Telefone</span>
                            <input id="ClienteTelefone[0]_Telefone" type="text" class="form-control telefone" name="ClienteTelefone[0].Telefone" placeholder="Telefone">
                            <input id="ClienteTelefone[0]_Telefone" type="text" class="form-control telefoneEstrangeiro" name="ClienteTelefone[0].TelefoneEstrangeiro" placeholder="Telefone">
                        </div>
                        <div class="input-group input-fields">
                            <span class="input-group-addon">DDD</span>
                            <input id="ClienteTelefone[1]_Ddd" type="text" class="form-control ddd" name="ClienteTelefone[1].Ddd" placeholder="DDD">
                            <input id="ClienteTelefone[1]_Ddd" type="text" class="form-control dddEstrangeiro" name="ClienteTelefone[1].DddEstrangeiro" placeholder="DDD">
                        </div>
                        <div class="input-group input-fields">
                            <span class="input-group-addon">Telefone</span>
                            <input id="ClienteTelefone[1]_Telefone" type="text" class="form-control telefone" name="ClienteTelefone[1].Telefone" placeholder="Telefone">
                            <input id="ClienteTelefone[1]_Telefone" type="text" class="form-control telefoneEstrangeiro" name="ClienteTelefone[1].TelefoneEstrangeiro" placeholder="Telefone">
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">

                        Cliente Endereço
                    </div>
                    <div class="panel-body">
                        <div class="input-group input-fields camposPfPj">
                            <span class="input-group-addon">CEP</span>
                            <input id="ClienteEndereco[0]_CEP" type="text" class="form-control cep" name="ClienteEndereco[0].CEP" placeholder="Digite o CEP para carregar os demais campos">
                        </div>
                        <div class="input-group input-fields">
                            <span class="input-group-addon labelLogra">Logradouro</span>
                            <input id="ClienteEndereco[0]_Logradouro" type="text" class="form-control logradouro" name="ClienteEndereco[0].Logradouro" placeholder="Lograduro">
                        </div>
                        <div class="input-group input-fields camposPfPj">
                            <span class="input-group-addon">Número</span>
                            <input id="ClienteEndereco[0]_Numero" type="text" class="form-control numero" name="ClienteEndereco[0].Numero" placeholder="Número">
                        </div>
                        <div class="input-group input-fields">
                            <span class="input-group-addon labelComp">Complemento</span>
                            <input id="ClienteEndereco[0]_Complemento" type="text" class="form-control complemento" name="ClienteEndereco[0].Complemento" placeholder="Complemento">
                        </div>
                        <div class="input-group input-fields">
                            <span class="input-group-addon labelBairro">Bairro</span>
                            <input id="ClienteEndereco[0]_Bairro" type="text" class="form-control bairro" name="ClienteEndereco[0].Bairro" placeholder="Bairro">
                        </div>
                        <div class="input-group input-fields camposEstr">
                            <span class="input-group-addon">País</span>
                            <select id="ClienteEndereco[0]_Pais" class="form-control pais"></select>
                            @*<input id="ClienteEndereco[0]_Estado" type="text"  placeholder="Estado">*@
                        </div>
                        <div class="input-group input-fields">
                            <span class="input-group-addon">Estado</span>
                            <select id="ClienteEndereco[0]_Estado" class="form-control estado"></select>
                            @*<input id="ClienteEndereco[0]_Estado" type="text"  placeholder="Estado">*@
                            <button type="button"
                                    class="btn btn-xs btn-info"
                                    data-toggle="modal"
                                    data-target="#myModalEstado"
                                    onclick="$('#IdPais').val($('.pais').val()); $('#NomePais').val($('.pais option:selected').text());"
                                    id="btnNovoEstado" style="display: none">
                                Cadastrar Estado
                            </button>
                        </div>
                        <div class="input-group input-fields">
                            <span class="input-group-addon">Cidade</span>
                            <select id="ClienteEndereco[0]_IdCidade" name="ClienteEndereco[0].IdCidade" class="form-control cidade"></select>
                            @*<input id="ClienteEndereco[0]_Cidade" type="text" class="form-control cidade" placeholder="Cidade">*@

                            <button type="button"
                                    class="btn btn-xs btn-info"
                                    data-toggle="modal"
                                    data-target="#myModalCidade"
                                    onclick="$('#IdNomeEstadoSelecioando').val($('.estado').val()); $('#NomeEstadoSelecioando').val($('.estado option:selected').text());"
                                    id="btnNovaCidade" style="display: none">
                                Cadastrar Cidade
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">

                        Cliente Contatos
                    </div>
                    <div class="panel-body">
                        <div id="ContatosParent">
                            <div id="ContatosCampos">
                                <div class="input-group input-fields">
                                    <span class="input-group-addon">Nome</span>
                                    <input id="ContatoNome" type="text" class="form-control" name="ContatoNome" placeholder="Nome">
                                </div>
                                <div class="input-group input-fields">
                                    <span class="input-group-addon">Email</span>
                                    <input id="ContatoEmail" type="text" class="form-control" name="ContatoEmail" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <a style="margin: 10px 0;" href="javascript:addRow();">+1 Contato</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="input-fields">
        <button type="submit" class="btn w-xs btn-primary"> <i class="fa fa-check"></i> Salvar </button>
    </div>
    <div class="input-fields">
        <button onclick="location.href='@Url.Action("Lista", "Cliente")'" class="btn w-xs btn-danger"> <i class="glyphicon glyphicon-chevron-left"></i> Voltar </button>
    </div>

}



<div class="modal fade" id="myModalEstado" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">Cadastrar novo Estado</h4>
                <small class="font-bold">Cadastrar um estado não existente</small>
            </div>
            <div class="modal-body">
                <input hidden="hidden" id="IdPais" />
                <div class="input-group input-fields">
                    <span class="input-group-addon">País</span>
                    <input id="NomePais" type="text" disabled="disabled" class="form-control">
                </div>
                <div class="input-group input-fields">
                    <span class="input-group-addon">Nome</span>
                    <input id="NomeEstado" type="text" class="form-control" name="NomeEstado" placeholder="Digite o nome do estado">
                </div>
                <div class="input-group input-fields">
                    <span class="input-group-addon">Sigla</span>
                    <input id="NomeSigla" type="text" class="form-control" name="NomeSigla" maxlength="2" placeholder="Digite o nome da sigla">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="salvarNovoEstado" onclick="NovoEstado();">Salvar</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="myModalCidade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">Cadastrar nova Cidade</h4>
                <small class="font-bold">Cadastrar um cidade não existente</small>
            </div>
            <div class="modal-body">
                <input hidden="hidden" id="IdEstado" />
                <div class="input-group input-fields">
                    <span class="input-group-addon">Cidade</span>
                    <input id="IdNomeEstadoSelecioando" type="text" hidden="hidden">
                    <input id="NomeEstadoSelecioando" type="text" disabled="disabled" class="form-control">
                </div>
                <div class="input-group input-fields">
                    <span class="input-group-addon">Nome</span>
                    <input id="NomeCidade" type="text" class="form-control" name="NomeEstado" placeholder="Digite o nome da cidade">
                </div>
                <div class="input-group input-fields">
                    <span class="input-group-addon">Sigla</span>
                    <input id="NomeSiglaCidade" type="text" class="form-control" name="NomeSigla" maxlength="2" placeholder="Digite a sigla da sigla">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="salvarNovaCidade" onclick="NovaCidade();">Salvar</button>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/bundles/bootstrapCheckbox/css")
    @Styles.Render("~/bundles/sweetAlert/css")
}

@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/homer/js")
@Scripts.Render("~/bundles/sweetAlert/js")

<script src="~/Scripts/BuscaCep.js"></script>
<script src="~/Scripts/Mask/jquery.mask.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {       
        $('.docs').focusout(function () {
            $.ajax({
            url: '@Url.Action("ExisteDocumento", "Cliente")',
            type: 'POST',
            data: { documento: $(this).val()},           
            success: function (status) {
                if (status == true) {                   
                    swal({
                        title: "Ops!",
                        text: "Identificamos que este documento já existe!",
                        type: "warning"
                    }, function () {
                        $('.docs').val(''); 
                    });
                     
                }
            },
            error: function (xhr) { }
        });
        });

        if ($("#rpj").is(":checked")) {
            $('.documentoPf').hide();
            $('.documentoEst').hide();
            $('.documentoPf').val("");
            $('.documentoEst').val("");

            $('.documentoPj').show();

            //Campos ddd + telefone
            $(".ddd").show();
            $(".telefone").show();
            $(".dddEstrangeiro").val("");
            $(".telefoneEstrangeiro").val("");
            $(".dddEstrangeiro").hide();
            $(".telefoneEstrangeiro").hide();
        } else if ($("#rpf").is(":checked")) {
            $('.documentoEst').hide();
            $('.documentoPj').hide();
            $('.documentoPf').val("");
            $('.documentoEst').val("");

            $('.documentoPf').show();

            //Campos ddd + telefone
            $(".ddd").show();
            $(".telefone").show();
            $(".dddEstrangeiro").val("");
            $(".telefoneEstrangeiro").val("");
            $(".dddEstrangeiro").hide();
            $(".telefoneEstrangeiro").hide();
        } else {
            $('.documentoPj').hide();
            $('.documentoPf').hide();
            $('.documentoPj').val("");
            $('.documentoPf').val("");

            $('.documentoEst').show("");

            //Campos ddd + telefone
            $(".ddd").hide();
            $(".telefone").hide();
            $(".dddEstrangeiro").val("");
            $(".telefoneEstrangeiro").val("");
            $(".dddEstrangeiro").show();
            $(".telefoneEstrangeiro").show();
        }

        carregaPais();

        $('.estado').change(function () {
            carregaCidades($(this));
        });

        $('.pais').change(function () {
            carregaEstados($(this).val());
        });

        $("#Cidade").change(function (evt) {
            $('#CidadeId').val($(this).val());

        });

        $('.cep').focusout(function () {
            var result = BuscaCep($(this).val());

            if (result.DcrTipoLogradouro != null) {
                $('.logradouro').val(result.DcrTipoLogradouro + ' ' + result.DcrNome);
            }
            $('.bairro').val(result.Bairro.DcrNome);
            $('.pais').val(result.Pais.IdPais);

            carregaEstados(result.Pais.IdPais, result.UnidadeFederacao.IdUnidadeFederacao, result.Cidade.IdCidade);
        });

    });

    function carregaCidades(estado, id) {

        var comboEstado = estado;
        var comboCidade = $('.cidade');

        if (comboEstado != "-1") {

            $.ajax({
                url: '@Url.Action("GetCidade","Cliente")',
                type: 'POST',
                data: { id: comboEstado.val() },
                success: function (cidades) {
                    comboCidade.empty();
                    var $select = comboCidade;
                    $select.append('<option value="0">--- Selecione a Cidade ---</option>');
                    $.each(cidades, function (i, cidade) {
                        $select.append(
                            $('<option/>')
                            .attr('value', cidade.IdCidade)
                            .text(cidade.DcrNome)
                        );
                    });
                    if (id != null) {
                        comboCidade.val(id);
                    }
                },
                error: function (xhr) { }
            });
        }


    }

    function carregaEstados(idPais, idEstado, idCidade) {
        var comboEstado = $('.estado');
        $.ajax({
            url: '@Url.Action("GetEstado","Cliente")',
            type: 'POST',
            data: { idPais: idPais },
            success: function (estados) {
                comboEstado.empty();
                var $select = comboEstado;
                $select.append('<option value="0">--- Selecione o Estado ---</option>');
                $.each(estados, function (i, estado) {
                    $select.append(
                        $('<option/>')
                        .attr('value', estado.IdUnidadeFederacao)
                        .text(estado.DcrSigla)
                    );
                });
                if (idEstado != null) {
                    comboEstado.val(idEstado);
                    carregaCidades(comboEstado, idCidade);
                }
            },
            error: function (xhr) { }
        });
    }

    function carregaPais() {
        var comboPais = $('.pais');

        $.ajax({
            url: '@Url.Action("GetPais","Cliente")',
            type: 'POST',
            success: function (paises) {
                comboPais.empty();
                var $select = comboPais;
                $select.append('<option value="0">--- Selecione o Pais ---</option>');
                $.each(paises, function (i, pais) {
                    $select.append(
                        $('<option/>')
                        .attr('value', pais.IdPais)
                        .text(pais.DcrNome)
                    );
                });
            },
            error: function (xhr) { }
        });
    }

    function NovoEstado() {
        if ($('#IdPais').val() == "0") return false;


        var model = {
            DcrNome: $('#NomeEstado').val(),
            DcrSigla: $('#NomeSigla').val(),
            IdPais: $('#IdPais').val()
        };

        $.ajax({
            url: '@Url.Action("NovoEstado","Cliente")',
            type: 'POST',
            data: JSON.stringify(model),
            contentType: "application/json",
            success: function (status) {
                $('myModalEstado').hide();
            },
            error: function (xhr) { }
        });

    }


    function NovaCidade() {
        // if ($('#IdPais').val() == "0") return false;


        var model = {
            DcrNome: $('#NomeCidade').val(),
            DcrSigla: $('#NomeSiglaCidade').val(),
            IdUnidadeFederacao: $('#IdNomeEstadoSelecioando').val()

        };

        $.ajax({
            url: '@Url.Action("NovaCidade","Cliente")',
            type: 'POST',
            data: JSON.stringify(model),
            contentType: "application/json",
            success: function (status) {
                $('myModalEstado').hide();
            },
            error: function (xhr) { }
        });

    }

    // <![CDATA[
    function addRow() {
        //copy the table row and clear the value of the input, then append the row to the end of the table
        $("#ContatosCampos").clone().find("input").each(function () {
            $(this).val('');
        }).end().appendTo("#ContatosParent");
    }
    $(".radio input[type='radio']").on('click', function () {
        if ($("#rpf").is(":checked")) {
            $("#DocLabel").html("CPF");
            $(".labelNome").html("Nome");
            $(".documentoPf").show();
            $(".documentoPj").hide();
            $(".documentoEst").hide();
            $(".documentoPj").val("");
            $(".documentoEst").val("");
            $(".txtNome").attr("placeholder", "Nome do cliente").blur();
            $(".labelLogra").html("Logradouro");
            $(".logradouro").attr("placeholder", "Logradouro").blur();
            $(".labelComp").html("Complemento");
            $(".complemento").attr("placeholder", "Complemento").blur();
            $(".labelBairro").html("Bairro");
            $(".bairro").attr("placeholder", "Bairro").blur();
            $(".camposPF").show();
            $(".camposPfPj").show();
            $("#btnNovoEstado").hide();
            $("#btnNovaCidade").hide();
            $(".ddd").val("");
            $(".telefone").val("");
            $(".ddd").show();
            $(".telefone").show();
            $(".dddEstrangeiro").val("");
            $(".telefoneEstrangeiro").val("");
            $(".dddEstrangeiro").hide();
            $(".telefoneEstrangeiro").hide();

        } else if ($("#rpj").is(":checked")) {
            $("#DocLabel").html("CNPJ");
            $(".labelNome").html("Razão Social");
            $(".documentoPf").hide();
            $(".documentoEst").hide();
            $(".documentoPf").val("");
            $(".documentoEst").val("");
            $(".documentoPj").show();
            $(".txtNome").attr("placeholder", "Razão social").blur();
            $(".labelLogra").html("Logradouro");
            $(".logradouro").attr("placeholder", "Logradouro").blur();
            $(".labelComp").html("Complemento");
            $(".complemento").attr("placeholder", "Complemento").blur();
            $(".labelBairro").html("Bairro");
            $(".bairro").attr("placeholder", "Bairro").blur();
            $("#sexo").val('N');
            $(".camposPF").hide();
            $(".camposPfPj").show();
            $("#btnNovoEstado").hide();
            $("#btnNovaCidade").hide();
            $(".ddd").val("");
            $(".telefone").val("");
            $(".dddEstrangeiro").val("");
            $(".telefoneEstrangeiro").val("");
            $(".dddEstrangeiro").hide();
            $(".telefoneEstrangeiro").hide();
            $(".ddd").show();
            $(".telefone").show();

        } else if ($("#restr").is(":checked")) {
            $("#DocLabel").html("Passaporte");
            $(".labelNome").html("Nome");
            $(".documentoPf").hide();
            $(".documentoPj").hide();
            $(".documentoPf").val("");
            $(".documentoPj").val("");
            $(".documentoEst").show();
            $(".txtNome").attr("placeholder", "Nome do cliente").blur();
            $(".logradouro").attr("placeholder", "Linha 1").blur();
            $(".labelLogra").html("Linha 1");
            $(".labelComp").html("Linha 2");
            $(".complemento").attr("placeholder", "Linha 2").blur();
            $(".labelBairro").html("Linha 3");
            $(".bairro").attr("placeholder", "Linha 3").blur();
            $(".camposPF").show();
            $(".camposPfPj").hide();
            $("#btnNovoEstado").show();
            $("#btnNovaCidade").show();
            $(".ddd").val("");
            $(".telefone").val("");
            $(".ddd").hide();
            $(".telefone").hide();
            $(".dddEstrangeiro").val("");
            $(".telefoneEstrangeiro").val("");
            $(".dddEstrangeiro").show();
            $(".telefoneEstrangeiro").show();
        }
    });

    $('DataNascimento').mask('00/00/0000');
    $('.ddd').mask('(00)');

    var SPMaskBehavior = function (val) {
        return val.replace(/\D/g, '').length === 9 ? '00000-0000' : '0000-00009';
    },
        spOptions = {
            onKeyPress: function (val, e, field, options) {
                field.mask(SPMaskBehavior.apply({}, arguments), options);
            }
        };

    $('.telefone').mask(SPMaskBehavior, spOptions);
</script>


