@using System.Web.Mvc.Html
@model Exploreh.Model.Cliente.ClienteModel

<style>
    .input-fields {
        margin: 10px;
    }
</style>

@{
    ViewBag.Title = "Cadastrar novo Cliente";

    List<SelectListItem> listEstado = new List<SelectListItem>();

    foreach (var item in Model.Estado)
    {
        listEstado.Add(new SelectListItem
        {
            Text = item.Nome,
            Value = Convert.ToString(item.Id)
        });
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        Cadastro de Clientes
                    </div>
                    <div class="panel-body">
                        <div style=""></div>

                        <div class="input-group input-fields">
                            <span class="input-group-addon">Nome</span>
                            <input id="Nome" type="text" class="form-control" name="Nome" placeholder="Nome do usuário">
                        </div>
                        <div class="input-group input-fields">
                            <div class="radio radio-info radio-inline">
                                <input class="radio" type="radio" id="rpf" value="F" name="TipoPessoa" checked="">
                                <label for="rpf"> Pessoa física </label>
                            </div>
                            <div class="radio radio-info radio-inline">
                                <input class="radio" type="radio" id="rpj" value="J" name="TipoPessoa">
                                <label for="rpj"> Pessoa jurídica </label>
                            </div>
                            <div class="radio radio-info radio-inline">
                                <input class="radio" type="radio" id="restr" value="E" name="TipoPessoa">
                                <label for="restr"> Estrangeiro </label>
                            </div>
                        </div>

                        <div class="input-group input-fields">
                            <span id="DocLabel" class="input-group-addon">Documento</span>
                            <input type="text" class="form-control" name="Documento" placeholder="Número do documento">
                        </div>

                        <div class="input-group input-fields">
                            <span class="input-group-addon">Sexo</span>
                            <select class="form-control m-b" name="Sexo">
                                <option value="M">Masculino</option>
                                <option value="F">Feminino</option>
                                <option value="N">Não declarado</option>
                            </select>
                        </div>
                        <div class="input-group input-fields">
                            <span class="input-group-addon">Data de nascimento</span>
                            <input id="DataNascimento" type="text" class="form-control" name="DataNascimento" placeholder="Data de nascimento">
                        </div>
                        <div class="input-group input-fields">
                            <span class="input-group-addon">Ocupação</span>
                            <input id="Ocupacao" type="text" class="form-control" name="Ocupacao" placeholder="Ocupação">
                        </div>
                        <div class="input-group input-fields">
                            <span class="input-group-addon">E-mail</span>
                            <input id="Email" type="text" class="form-control" name="Email" placeholder="E-mail">
                        </div>
                        <div class="input-group input-fields">
                            <span class="input-group-addon">Home page</span>
                            <input id="HomePage" type="text" class="form-control" name="HomePage" placeholder="Home page">
                        </div>
                        <div class="input-group input-fields">
                            <span class="input-group-addon">Telefone</span>
                            <input id="ClienteTelefone[0]_Ddd" type="text" class="form-control" name="ClienteTelefone[0].Ddd" placeholder="DDD">
                            <input id="ClienteTelefone[0]_Telefone" type="text" class="form-control" name="ClienteTelefone[0].Telefone" placeholder="Telefone">
                            <div class="radio radio-info radio-inline">
                                <input type="radio" id="ClienteTelefone[0]_TipoTelefone" value="F" name="ClienteTelefone[0].TipoTelefone">
                                <label for="inlineRadio2"> Fixo </label>
                            </div>
                            <div class="radio radio-info radio-inline">
                                <input type="radio" id="ClienteTelefone[0]_TipoTelefone" value="C" name="ClienteTelefone[0].TipoTelefone">
                                <label for="inlineRadio2"> Celular </label>
                            </div>
                        </div>
                        <div class="input-group input-fields">
                            <span class="input-group-addon">Telefone</span>
                            <input id="ClienteTelefone[1]_Ddd" type="text" class="form-control" name="ClienteTelefone[1].Ddd" placeholder="DDD">
                            <input id="ClienteTelefone[1]_Telefone" type="text" class="form-control" name="ClienteTelefone[1].Telefone" placeholder="Telefone">
                            <div class="radio radio-info radio-inline">
                                <input type="radio" id="ClienteTelefone[1]_TipoTelefone" value="F" name="ClienteTelefone[1].TipoTelefone">
                                <label for="ClienteTelefone[1]_TipoTelefone"> Fixo </label>
                            </div>
                            <div class="radio radio-info radio-inline">
                                <input type="radio" id="ClienteTelefone[1]_TipoTelefone" value="C" name="ClienteTelefone[1].TipoTelefone">
                                <label for="ClienteTelefone[1]_TipoTelefone"> Celular </label>
                            </div>
                        </div>
                        <div class="input-group input-fields">
                            <span class="input-group-addon">Endereço</span>
                            <input id="ClienteEndereco[0]_Logradouro" type="text" class="form-control" name="ClienteEndereco[0].Logradouro" placeholder="Lograduro">
                            <input id="ClienteEndereco[0]_Numero" type="text" class="form-control" name="ClienteEndereco[0].Numero" placeholder="Número">
                            <input id="ClienteEndereco[0]_Complemento" type="text" class="form-control" name="ClienteEndereco[0].Complemento" placeholder="Complemento">
                            <input id="ClienteEndereco[0]_CEP" type="text" class="form-control" name="ClienteEndereco[0].CEP" placeholder="CEP">
                            <input id="ClienteEndereco[0]_Bairro" type="text" class="form-control" name="ClienteEndereco[0].Bairro" placeholder="Bairro">
                            @Html.DropDownListFor(model => model.EstadoId, listEstado, "Estado", new { @class = "form-control ddlEstado", id = "ClienteEndereco[0]_EstadoId", Name = "ClienteEndereco[0].EstadoId" })
                            @*<input id="ClienteEndereco[0]_EstadoId" type="text" class="form-control" name="ClienteEndereco[0].EstadoId" placeholder="Estado">*@
                            
                            <input id="ClienteEndereco[0]_CidadeId" type="text" class="form-control" name="ClienteEndereco[0].CidadeId" placeholder="Cidade">
                        </div>
                    </div>
                </div>
            </div>
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    Cadastro de Contatos
                </div>
                <div class="panel-body">
                    <div id="ContatosParent">
                        <div id="ContatosCampos">
                            <div class="input-group input-fields">
                                <span class="input-group-addon">Nome</span>
                                <input id="ContatoNome" type="text" class="form-control" name="ContatoNome" placeholder="Nome">
                            </div>
                            <div class="input-group input-fields">
                                <span class="input-group-addon">Email</span>
                                <input id="ContatoEmail" type="text" class="form-control" name="ContatoEmail" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <a style="margin: 10px 0;" href="javascript:addRow();">+1 Contato</a>
                </div>
            </div>
            <div class="input-fields">
                <button type="submit" class="btn w-xs btn-primary"> <i class="fa fa-check"></i> Salvar </button>
            </div>
            <div class="input-fields">
                <button onclick="location.href='@Url.Action("Lista", "Cliente")'" class="btn w-xs btn-danger"> <i class="glyphicon glyphicon-chevron-left"></i> Voltar </button>
            </div>
        </div>
    </div>
}

@section Styles {
    @Styles.Render("~/bundles/bootstrapCheckbox/css")
}


@Scripts.Render("~/bundles/jquery/js")  
@Scripts.Render("~/bundles/homer/js") 

<script type="text/javascript">
    $(document).ready(function () {
        $('.ddlEstado').change(function () {
            carregaCidades($(this));
        });

        $("#Cidade").change(function (evt) {
            $('#CidadeId').val($(this).val());

        });

    });

    function carregaCidades(estado, id) {
        var comboEstado = estado.val();
        var comboCidade = estado.prev().empty();

        if (comboEstado != "-1") {

            $.ajax({
                url: '@Url.Action("GetCidade","Cliente")',
                type: 'POST',
                data: { id: comboEstado },
                success: function (cidades) {
                    comboCidade.empty();
                    var $select = comboCidade;
                    $select.append('<option value="">Cidade</option>');
                    $.each(cidades, function (i, cidade) {
                        $select.append(
                            $('<option/>')
                            .attr('value', cidade.Id)
                            .text(cidade.Nome)
                        );
                    });
                    if (id != null) {
                        $("#Cidade").val(id);
                    }
                },
                error: function (xhr) { }
            });
        }


    }

    // <![CDATA[
    function addRow() {
        //copy the table row and clear the value of the input, then append the row to the end of the table
        $("#ContatosCampos").clone().find("input").each(function () {
            $(this).val('');
        }).end().appendTo("#ContatosParent");
    }
    $(".radio input[type='radio']").on('click', function () {
        if ($("#rpf").is(":checked")) {
            $("#DocLabel").html("CPF");
        } else if ($("#rpj").is(":checked")) {
            $("#DocLabel").html("CNPJ");
        } else if ($("#restr").is(":checked")) {
            $("#DocLabel").html("Passaporte");
        }
    });
</script>


