@model IEnumerable<Exploreh.Model.UnidadeFederacao.UnidadeFederacaoModel>


<style>
    .input-fields {
        margin: 10px;
    }
</style>

@{
    ViewBag.Title = "Lista de Estados";
}

@section Styles {
    @Styles.Render("~/bundles/toastr/css")
    @Styles.Render("~/bundles/sweetAlert/css")

}

<div class="panel-body list">
    <h2>Lista de Estados Cadastradas</h2>

    <button onclick="location.href='@Url.Action("Cadastrar", "Estado")'" class="btn w-xs btn-primary">Novo <i class="glyphicon glyphicon-plus"></i></button>

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="hpanel">
                                    <div class="panel-body">
                                        <div class="input-group" style="width:300px; position:relative; display:-webkit-box">
                                            <select id="Pais" class="form-control pais"></select>                                           
                                            <button class="btn btn-primary filtrar">Filtrar <i class="glyphicon glyphicon-filter"></i></button>
                                        </div>

                                        <div style="display:none" id="buscarEstado">
                                            <input id="DcrNome" name="DcrNome" class="form-control cidade col-lg-8" placeholder="Buscar o estado desejado..." />
                                            <button class="btn btn-default search"><i class="glyphicon glyphicon-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        Todos os estados Cadastrados
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive project-list">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Nome
                                        </th>
                                        <th>
                                            Sigla
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody id="lista"></tbody>

                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@* inicio modal*@
<div class="modal fade" id="myModalDetalhes" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">Detalhes do Perfil</h4>
                <small class="font-bold">Todos os detalhes cadastrados</small>
            </div>
            <div class="modal-body">
                <p>

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">Deletar Perfil</h4>
                <small class="font-bold">Todos os detalhes cadastrados</small>
            </div>
            <div class="modal-body">
                <p>

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="deleteModal">Deletar</button>
            </div>
        </div>
    </div>
</div>
@* fim modal *@

@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/jqueryui/js")
@Scripts.Render("~/bundles/homer/js")
@Scripts.Render("~/bundles/toastr/js")
@Scripts.Render("~/bundles/sweetAlert/js")

<script src="~/Scripts/PerfilAjaxCall.js"></script>
<script type="text/javascript">

    $(document).ready(function() {

        carregaPais();

        notificar();

        $('#deleteModal').click(function() {
            var url = '@Url.Action("ExcluirConfirmar", "Perfil")';
            var model = { Id: $('#Id').val() };

            ExcluirConfirmar(model, url);
        });
    });


    $('.pais').change(function () {
        carregaEstados($(this).val())
    });

    function notificar() {

        var notificacao = @(ViewBag.Notificacao.ToString().ToLower());
        if (notificacao === true) {

            setTimeout(function() {
                swal({
                    title: "Good job!",
                    text: "Ação concluida com sucesso!",
                    type: "success"
                });
            },
                1000);
        }
    }

     function carregaPais() {
        var comboPais = $('.pais');

        $.ajax({
            url: '@Url.Action("GetPais","Cliente")',
            type: 'POST',
            success: function (paises) {
                comboPais.empty();
                var $select = comboPais;
                $select.append('<option value="0">--- Selecione o Pais ---</option>');
                $.each(paises, function (i, pais) {
                    $select.append(
                        $('<option/>')
                        .attr('value', pais.IdPais)
                        .text(pais.DcrNome)
                    );
                });
            },
            error: function (xhr) { }
        });
    }

      function carregaEstados(idPais) {
          var comboEstado = $('.estado');

        $.ajax({
            url: '@Url.Action("GetEstado","Cliente")',
            type: 'POST',
            data: { idPais: idPais },
            success: function (estados) {
                comboEstado.empty();
                var $select = comboEstado;
                $.each(estados, function (i, estado) {
                    $select.append(
                        $('<option/>')
                        .attr('value', estado.IdUnidadeFederacao)
                            .text(estado.DcrNome + ' - ' + estado.DcrSigla )
                    );
                });
            },
            error: function (xhr) { }
          });

     }

     $('.filtrar').click(function () {
          $.ajax({
            url: '@Url.Action("ListaFiltro", "Estado")',
            type: 'POST',
            data: { pais: $('#Pais').val() },
            success: function (paises) {
                var $select = $('#lista');
                $select.html('');

                if (paises != null)
                $('#buscarEstado').show();

                $.each(paises, function (i, pais) {
                    $select.append(
                        $(  '<tr>' +
                            '<td>'+
                            pais.DcrNome +
                            '</td>' +
                            '<td>' +
                            pais.DcrSigla +
                            '</td>' +
                            '<td>' +
                            '<button type="button"' +
                            'class="btn btn-xs btn-primary"' +
                            'onclick=location.href="@Url.Action("Editar","Estado")' + "/" + pais.IdUnidadeFederacao + '">' +
                            'Editar' +
                            '</button>' +
                            '</td>'+
                            '</tr>'+
                            '</tbody>')
                    );
                });
            },
            error: function (xhr) { }
        });
      });


      $('.search').click(function () {
          $.ajax({
            url: '@Url.Action("ListaFiltroNome", "Estado")',
            type: 'POST',
            data: { estado: $('#DcrNome').val() },
            success: function (cidades) {
                var $select = $('#lista');
                $select.html('');

                if (cidades != null)
                $('#buscarEstado').show();

                $.each(cidades, function (i, cidade) {
                    $select.append(
                        $('<tr>' +
                            '<td>' +
                            cidade.DcrNome +
                            '</td>' +
                            '<td>' +
                            cidade.DcrSigla +
                            '</td>' +
                            '<td>' +
                            '<button type="button"' +
                            'class="btn btn-xs btn-primary"' +
                            'onclick=location.href="@Url.Action("Editar","Estado")' + "/" + cidade.IdUnidadeFederacao + '">' +
                            'Editar' +
                            '</button>' +
                            '</td>' +
                            '</tr>' +
                            '</tbody>')
                    
                    );
                });
            },
            error: function (xhr) { }
        });
    });
</script>