@using System.Web.Mvc.Html
@model Exploreh.Model.Usuario.UsuarioModel

<style>
    .input-fields {
        margin: 10px;
    }
</style>

@{
    ViewBag.Title = "Cadastrar novo Usuário";

    List<SelectListItem> listPerfil = new List<SelectListItem>();

    foreach (var item in Model.ddlPerfil)
    {
        listPerfil.Add(new SelectListItem
        {
            Text = item.Nome,
            Value = Convert.ToString(item.Id)
        });
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        Cadastro de Usuário
                    </div>
                    <div class="panel-body">
                        <div style=""></div>
                        <div class="input-group input-fields">
                            <span class="input-group-addon">Nome</span>
                            <input id="Nome" type="text" class="form-control" name="Nome" placeholder="Nome do usuário">
                        </div>
                        <div class="input-group input-fields">
                            <span class="input-group-addon">E-mail</span>
                            <input id="Email" type="text" class="form-control" name="Email" placeholder="E-mail do usuário">
                        </div>
                        <div class="input-group input-fields">
                            <span class="input-group-addon">Senha</span>
                            <input id="Senha" type="password" class="form-control" name="Senha" placeholder="Senha do usuário">
                        </div>
                        <div class="input-group input-fields">
                            <span class="input-group-addon">Perfil</span>
                            @Html.DropDownListFor(model => model.PerfilId, listPerfil, "-- Selecione --", new { @class = "form-control" })
                        </div>
                        
                        <div class="input-fields">
                            <button type="submit" class="btn w-xs btn-primary"> <i class="fa fa-check"></i> Salvar </button>
                        </div>
                    </div>

                    <div class="input-fields">
                        <button onclick="location.href='@Url.Action("Lista", "Usuario")'" class="btn w-xs btn-danger"> <i class="glyphicon glyphicon-chevron-left"></i> Voltar </button>
                    </div>


                </div>
            </div>
        </div>
    </div>

  
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
