@model IEnumerable<Exploreh.Model.Usuario.UsuarioModel>

<style>
    .input-fields {
        margin: 10px;
    }
</style>

@{
    ViewBag.Title = "Lista de Usuários";
}


@section Styles {
    @Styles.Render("~/bundles/toastr/css")
    @Styles.Render("~/bundles/sweetAlert/css")
}

<div class="panel-body list">
    <h2>Lista de Usuários Cadastrados</h2>

    <button onclick="location.href='@Url.Action("Cadastrar", "Usuario")'" class="btn w-xs btn-primary"><i class="glyphicon glyphicon-plus"></i> Novo </button>

    <div class="table-responsive project-list">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        E-mail
                    </th>
                    <th>
                        Ativo
                    </th>

                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ativo)
                        </td>

                        <td>
                            <button type="button"
                                    class="btn btn-xs btn-primary"
                                    onclick="location.href='@Url.Action("Editar", "Usuario", new { id = item.Id })'">
                                Editar
                            </button>
                            |
                            <button type="button"
                                    class="btn btn-xs btn-info"
                                    data-toggle="modal"
                                    data-target="#myModalDetalhes"
                                    onclick="Detalhes('@item.Id', '@Url.Action("Detalhes", "Usuario")');">
                                Detalhes
                            </button>
                            |
                            <button type="button"
                                    class="btn btn-xs btn-danger"
                                    data-toggle="modal"
                                    data-target="#myModalDelete"
                                    onclick="Deletar('@item.Id', '@Url.Action("Excluir", "Usuario")');">
                                Excluir
                            </button>
                        </td>
                    </tr>
                </tbody>
            }

        </table>
    </div>
</div>

@* inicio modal*@
<div class="modal fade" id="myModalDetalhes" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">Detalhes do Usuário</h4>
                <small class="font-bold">Todos os detalhes cadastrados</small>
            </div>
            <div class="modal-body">
                <p>

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">Deletar Usuário</h4>
                <small class="font-bold">Todos os detalhes cadastrados</small>
            </div>
            <div class="modal-body">
                <p>

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="deleteModal">Deletar</button>
            </div>
        </div>
    </div>
</div>
@* fim modal *@

@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/jqueryui/js")
@Scripts.Render("~/bundles/homer/js")
@Scripts.Render("~/bundles/toastr/js")
@Scripts.Render("~/bundles/sweetAlert/js")


<script src="~/Scripts/UsuarioAjaxCall.js"></script>
<script type="text/javascript">

    $(document).ready(function() {
        
        notificar();

        $('#deleteModal').click(function() {
            var url = '@Url.Action("ExcluirConfirmar", "Usuario")';
            var model = { Id: $('#Id').val() };

            ExcluirConfirmar(model, url);
        });
    });

    function notificar() {
       
        var notificacao = @(ViewBag.Notificacao.ToString().ToLower());
        if (notificacao === true) {

            setTimeout(function() {
                    swal({
                        title: "Good job!",
                        text: "Ação concluida com sucesso!",
                        type: "success"
                    });
                },
                1000);
        }
    }
</script>