@model IEnumerable<Exploreh.Model.Usuario.UsuarioModel>

<style>
    .input-fields {
        margin: 10px;
    }
</style>

@{
    ViewBag.Title = "Lista de Usuários";
}

@Styles.Render("~/bundles/toastr/css")

<div class="panel-body list">
    <h2>Lista de Usuários Cadastrados</h2>

    <button onclick="location.href='@Url.Action("Cadastrar", "Usuario")'" class="btn w-xs btn-primary"><i class="glyphicon glyphicon-plus"></i> Novo </button>

    <div class="table-responsive project-list">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    E-mail
                </th>
                <th>
                    Ativo
                </th>
                @*<th>
                    Data Cadastro
                </th>
                <th>
                    Data Alteração
                </th>

                <th>
                    Perfil
                </th>*@
                <th></th>
            </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ativo)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.DataCadastro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataAlteracao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PerfilId)
                    </td>*@
                    <td>
                        <button type="button"
                                class="btn btn-xs btn-primary"
                                onclick="location.href='@Url.Action("Editar", "Usuario", new { id = item.Id })'">
                            Editar
                        </button>
                       |
                        <button type="button"
                                class="btn btn-xs btn-info"
                                data-toggle="modal"
                                data-target="#myModal5"
                                onclick="Detalhes('@item.Id', '@Url.Action("Detalhes", "Usuario")');">
                            Detalhes
                        </button>
                        |
                        <button type="button"
                                class="btn btn-xs btn-danger"
                                onclick="location.href='@Url.Action("Editar", "Usuario", new { id = item.Id })'">
                            Excluir
                        </button>
                    </td>
                </tr>
                </tbody>
            }

        </table>
    </div>
</div>

@* inicio modal*@ 
<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">Detalhes do Usuário</h4>
                <small class="font-bold">Todos os detalhes cadastrados</small>
            </div>
            <div class="modal-body">
                <p>
                   
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
@* fim modal *@ 

@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/jqueryui/js")
@Scripts.Render("~/bundles/homer/js")
@Scripts.Render("~/bundles/toastr/js")

<script src="~/Scripts/AjaxCall.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        var notificacao = @(ViewBag.Notificacao.ToString().ToLower());
        if (notificacao === true) notificar();

        //$('#Editar').click(function() {
        //    Detalhes(this)
        //});
    });

    function notificar() {
        Command: toastr["success"]("Dados salvos com sucesso", "Sucesso!");

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    }
</script>