@model IEnumerable<Exploreh.Model.Usuario.UsuarioModel>

@{
    ViewBag.Title = "Lista de Usuários";
}

@Styles.Render("~/bundles/toastr/css")

<div class="panel-body list">
    <h2>Lista de Usuários Cadastrados</h2>
   
    <button onclick="location.href='@Url.Action("Cadastrar", "Usuario")'" class="btn w-xs btn-primary"><i class="glyphicon glyphicon-plus"></i> Novo </button>

    <div class="table-responsive project-list">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    E-mail
                </th>
                <th>
                    Ativo
                </th>
                <th>
                    Data Cadastro
                </th>
                <th>
                    Data Alteração
                </th>

                <th>
                    Perfil
                </th>
                <th></th>
            </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ativo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataCadastro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataAlteracao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PerfilId)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Editar", new {id = item.Id}) |
                        @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                        @Html.ActionLink("Excluir", "Excluir", new {id = item.Id})
                    </td>
                </tr>
                </tbody>
            }

        </table>
    </div>
</div>

@Scripts.Render("~/bundles/jquery/js")  
@Scripts.Render("~/bundles/jqueryui/js")   
@Scripts.Render("~/bundles/homer/js") 
@Scripts.Render("~/bundles/toastr/js")   


<script type="text/javascript">
    //teste popup
    $(document).ready(function() {
        alert();
    });

    function alert() {
        Command: toastr["success"]("Dados salvos com sucesso ", "Sucesso!");

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    }
</script>